<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Office Employee Entry-Exit Management</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<style>
    
    body {
        background-color: #f5f1dc;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh; /* Set the height of the body to 100% viewport height */
    }

    .container {
        flex: 1; /* Allow the container to take up the remaining vertical space */
    }

    h1 {
        color: #4285F4;
        font-size: 36px;
        margin-top: 130px; 
    }

    .card {
        box-shadow: 0 4px 8px rgba(1, 0, 0, 1);
        height: 200px; /* Set a fixed height for all cards */
    }

    .card:hover {
        border: 13px solid; 
        border-image: linear-gradient(35deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #9400d3); /* Rainbow colors */
        border-image-slice: 1; /* Make the entire border gradient */
        transform: rotate(360deg);
        
    }

</style>
<body>

    <h1>ABC Employee Entry-Exit Management<svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" fill="currentColor" class="bi bi-building-fill" viewBox="0 0 16 16">
        <path d="M3 0a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h3v-3.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V16h3a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1H3Zm1 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5ZM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM7.5 5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM4.5 8h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5Z"/>
      </svg></h1>
    <div class="container my-3">
        <div class="row justify-content-center my-3 py-3">


            <div class="col-md-3">
                <div class="card" style="background-color:#ffe6e6 ;">
                    <div class="card-body">
                        <h5 class="card-title my-3">Dashboard</h5>
                        <a href="{% url 'dashboard' %}" class="btn btn-success my-3">View</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="background-color:#ffe6e6 ;">
                    <div class="card-body">
                        <h5 class="card-title my-3">Enter Office</h5>
                        <a href="{% url 'enter_employee' %}" class="btn btn-primary my-3">Enter</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card" style="background-color:#ffe6e6 ;">
                    <div class="card-body">
                        <h5 class="card-title my-3">Exit Office</h5>
                        <a href="{% url 'exit_employee' %}" class="btn btn-danger my-3">Exit</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card" style="background-color:#ffe6e6 ;">
                    <div class="card-body">
                        <h5 class="card-title my-3">New to ABC        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
                            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                          </svg></h5>
                        <a href="{% url 'create_employee_profile' %}" class="btn btn-warning my-3">Create profile</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container my-3">
        <div class="row justify-content-center  py-3">



            <div class="col-md-3">
                <div class="card" style="background-color:#ffe6e6 ;">
                    <div class="card-body">
                        <h5 class="card-title my-3">Check Leave Status</h5>
                        <a href="{% url 'status' %}" class="btn btn-success my-3">View</a>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="card" style="background-color:#ffe6e6 ;">
                    <div class="card-body">
                        <h5 class="card-title my-3">Rewards and Appraisals</h5>
                        <a href="{% url 'reward' %}" class="btn btn-light my-3">View</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card" style="background-color:#ffe6e6 ;">
                    <div class="card-body">
                        <h5 class="card-title my-3">Apply for Paid Leave</h5>
                        <a href="{% url 'apply_leave' %}" class="btn btn-info my-3">Apply</a>
                    </div>
                </div>
            </div>
    <div class="col-md-3">
        <div class="card" style="background-color:#ffe6e6 ;">
            <div class="card-body">
                <h5 class="card-title my-3">HR/Manager-Approvals</h5>
                <a href="{% url 'senior_dashboard' %}" class="btn btn-warning my-3">Log in</a>
            </div>
        </div>
    </div></div></div>
</body>
</html>
