<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Office Employee Entry-Exit Management</title>
</head>
<body style="background-color: #f5f5f5; text-align: center; padding-top: 50px;">

    <h1 style="color: #4285F4; font-size: 36px;">Office Employee Entry-Exit Management</h1>

    <div class="container my-30">
        <a href="{% url 'enter_employee' %}" style="background-color: #4285F4; color: #fff; padding: 10px 20px; border-radius: 5px; text-decoration: none; font-size: 18px;">Enter Employee Entry Time</a>
    </div>
<div class="container">
    <div style="margin-top: 20px;">
        <a href="{% url 'exit_employee' %}" style="background-color: #DB4437; color: #fff; padding: 10px 20px; border-radius: 5px; text-decoration: none; font-size: 18px;">Enter Employee Exit Time</a>
    </div>
</div>
</body>
</html>

